<h1>Thông số:</h1>
<input type="text" name="manhinh" value="<%- thongso.Manhinh %>"><br>
<input type="text" name="camtruoc" value="<%- thongso.Camtruoc %>"><br>
<input type="text" name="camsau" value="<%- thongso.Camsau %>"><br>
<input type="text" name="cpu" value="<%- thongso.CPU %>"><br>
<input type="text" name="sim" value="<%- thongso.Sim %>"><br>
<input type="number" name="pin" min="1" value="<%- thongso.Pin %>"><br>
<input type="text" name="hdh"  value="<%- thongso.HDH %>"><br>
